*{
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.container {
	max-width: 940px;
	height: auto;
  padding: 0px 0px 0px 0px;
}
.navbar {
  margin-bottom: 0px;
  background: #fff;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  padding: 15px 0px 8px 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  padding: 0px 0px 0px 0px;
  margin-left: 0px;
}
.navbar-brand .navbar-text {
  margin: 0px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #e3b10d;
  text-transform: uppercase;
}
.navbar-brand .navbar-text img {
    width: 44px;
    height: 48px;
  }
/* .navbar {
	width: auto;
	background: #fff;
  margin-bottom: 0px;
}
.navbar .container {
  margin-top: 13px;
  margin-bottom: 13px;
}
.navbar .navbar-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #e3b10d;
  text-transform: uppercase;
  margin-top: 10px;
}
.navbar .container .navbar-brand {
  padding:  0px 0px 0px 0px;
  margin-left: 0px;
}

.navbar-default .navbar-nav li a:hover{
  color: #015691;
} */
/* .intro {
  height: 495px;
  width: 100%;
} */
.bg-1 {
  padding: 0px 0px 0px 0px;
}
.bg-1 .intro {
  width: 100%;
  height: 495px;
  position: relative;
}
.bg-1 .intro .slide-header .item img {
  width: 100%;
  height: 495px;
}
.bg-1 .intro .order-box {
  position: absolute;
  top: 35px;
  max-width: 450px;
  height: 420px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 0px 16px 35px 33px;
}
.bg-1 .intro .order-box .form-horizontal {
  padding-right: 21px;
}
.bg-1 .intro .order-box .btn {
  width: 140px;
  height: 40px;
  margin-top: 16.3px;
}
.bg-1 .intro .order-box .title-box {
  max-width: 401px;
  text-align: center;
  padding-bottom: 30px;
}
.bg-1 .intro .order-box .title-box h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #e3b10d;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 26.3px;
  margin-bottom: 8.3px;
}
.bg-1 .intro .order-box .title-box p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #BE9334;

}
.bg-1 .intro .order-box .info-input {
  padding: 8px 0px 0px 0px;
}
.bg-1 .intro .order-box input {
  max-width: 300px;
  height: 36.8px;
}
.bg-2 {
  width: 100%;
  height: 120px;
  padding: 25px 0px 27px 0px;
  border-bottom: solid 2px #e7e7e7;
}
.date-input::-webkit-datetime-edit-text{}
.date-input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.img-bg2 {
  width: 60px;
  height: 60px;
  padding: 0px 0px 0px 0px;
}
.img-bg2 img {
  width: 100%;
}
.service {
  padding: 0px 0px 0px 0px;
}
.service .content-news {
  max-width: 220px;
}
.title-news p {
  width: 100%;
  height: auto;
  color: #262626;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
}
.content-news {
  height: 38px
  height: auto;
}
.content-news p {
  color: #262626;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
}

.title-bg {
  height: 140px;
  padding-top: 35px;
  padding-bottom: 50px;
  text-align: center;
}
.title-bg:after{
  content: '';
  display: table;
  width: 130px;
  height: 2px;
  background: #015691;
  margin: auto;
}
.title-bg p {
  color: #262626;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-transform: uppercase;
}
.bg-3 .container {
  padding-bottom: 67px;
}
.content-bg-3 {
  text-align: center;
  margin: auto;
  position: relative;
}
.content-bg3 .img-content img {
  width: 300px;
  height: 191.1px;
}
.bg-3 {
  position: relative;
}
.bg-3 .owl-next {
  position: absolute;
  top: calc(50% - 45px);
  right: 167px;
}
.bg-3 .owl-prev {
  position: absolute;
  top: calc(50% - 45px);
  left: 167px;
}
.content-bg-3 a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 0px;
  color: #262626;
  text-decoration: none;
}

.left-content {
  max-width: 310px;
  padding: 0px 10px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.middle-content {
  max-width: 320px;
  padding: 0px 10px 0px 10px;
  margin: 0px 0px 0px 0px;
}
.right-content {
  max-width: 310px;
  padding: 0px 0px 0px 10px;
}
.content-bg-3 .img-content img{
  width: 100%;
  height: 100%;
  margin-bottom: 15.9px;
}
.bg-4 {
  background-color: #f5f5f5;
  padding-bottom: 0px;
  height: auto;
}
.bg-4 .content-bg-4 {
  padding: 0px;
}
.bg-4 .container {
  padding-bottom: 58px;
}
.bg-4 .title-news {
  width: 100%;
  height: 44px;
  margin-bottom: 6px;
  text-align: justify;
  margin: 10px 0px 6px 0px;

}
.bg-4 .title-news p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #262626;
  margin: 0px 0px 0px 0px;
}
.bg-4 .content-news {
  width: 100%;
  height: 117px;
  text-align: justify;
}
.bg-4 .content-news p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #000000;
}
.img-bg4 img{
  width: 100%;
  height: 100%;
}

/* Slider for bg-3 */
.carousel {
    margin-bottom: 0;
  padding: 0px 0px 0px 0px;
  }
  /* Reposition the controls slightly */
  .carousel-inner {
    overflow: initial;
  }
  .carousel-control {
    left: -100px;
    width: 30px;
    /* background: none; */
  }
  .carousel-control.left {
    background: none;
    position: absolute;
    top: 75px;
    left: -50px;
  }
  .carousel-control.right {
    position: absolute;
    background: none;
    top: 75px;
    right: -50px;
  }
  /* Changes the position of the indicators */
  .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
  }
  /* Changes the colour of the indicators */
  .carousel-indicators li {
    background: #c0c0c0;
  }
  .carousel-indicators .active {
  background: #333333;
  }
  .thumbnail {
    max-width: 300px;
    max-height: 277px;
    padding: 0px;
    border: none;
    margin: 0px;
  }
/* End Slider for bg-3 */
footer {
  height: 117px;
  text-align: center;
  border-top: 2px solid #e4b10d;
  padding: 25px 0px 16px 0px;
}

footer p .name .address {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #000000;
}

@media (min-width: 425px) and (max-width: 768px) { 
  .carousel-control.left, 
  .carousel-control.right {
    display: none;
  }

  
  .navbar .navbar-text {
    font-size: 14px;
    }
  .navbar-default .navbar-nav li a {
    font-size: 13px;
    padding: 15px 0px 15px 15px;
  }

  .order-box {
    width: 390px;
    height: 420px;
    top: 25px;
    left: 12px;
  }
  .order-box .form-group label {
    display: none;
  }
  .order-box .form-group input {
    width: 340px;
  }
  .bg-1 .intro .order-box {
    left: 18px;
  }
  .navbar-brand .navbar-text img  {
    width: 32px;
    height: 34.8px;
  }
  .navbar-nav {
    margin: 0px 0px;
  }
  .navbar .navbar-text {
    padding: 5px 0px 0px 11px;
  }
  .navbar .navbar-text img {
    margin-right: 9px;
  }
  .bg-2 .container {
    text-align: center;
  }
  .service .content-news {
    display: none;
  }
  .service .title-news {
    font-size: 12px;

  }
  .img-bg2 {
    width: 24px;
    height: 24px;
    margin: auto;
  }
  .service {
    padding-top: 6px;
  }
  .left-content,
  .right-content,
  .middle-content {
    margin: auto;
    padding: 0px 0px 0px 0px;
  }
  .bg-3 .title-bg {
    height: auto;
    padding-top: 15px;
    padding-bottom: 36px;
  }
  .bg-4 .container {
    padding-bottom: 18px;
  }
  .content-bg-4 .title-news,
  .content-bg-4 .content-news {
    text-align: justify;
    height: auto;
  }
  .mobile-news {
    display: none;
  }
  .bg-3 .container {
    padding-bottom: 0px;
  }
  .owl-stage {
    left: -40px;
  }
  .item p {
    display: none;
  }
  footer p {
    font-size: 12px;

  }
}


/* FONT */
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(./fonts/OpenSans-Bold.ttf) format('woff2'), , url(./fonts/OpenSans-BoldItalic.ttf) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}